


<h4>
	I rented my personal residence less than 15 day last year.  Do I have to do anything?
</h4>
<p>
	Here you go! <a href="http://www.irs.gov/taxtopics/tc415.html">http://www.irs.gov/taxtopics/tc415.html </a>
</p>

<h4>
	How much will using Taxly cost me?
</h4>
<p>
	If you have a simple situation it’s free. Otherwise, it will cost $25.
</p>

<h4>
	As a airbnb host, what tax forms do I need to fill out?
</h4>
<p>
	It is dependent on your specific situation.  How many days did you rent last year? Do you rent, do you own, is it a timeshare? You may need to fill out Schedule A, Schedule E, 1099, 1042-s to name a few.   
</p>

<h4>
	This sounds complicated. I’m getting anxiety and it’s not even April yet. Do I need to pay a CPA $500 to figure this all out for me?
</h4>
<p>
It is complicated, but no! You can read this <a href="http://www.irs.gov/pub/irs-pdf/p527.pdf">http://www.irs.gov/pub/irs-pdf/p527.pdf</a> or you you can let us figure it out for you. You will end up with completed tax forms that you will attach to your 1040. 
</p>

<h4>
Am I going to owe taxes on my airbnb income?
</h4>
<p>
Taxley will help you maximize your deductions against that income. The goal is to reduce the tax liability as much as possible. 
</p>

<h4>
Screw the man! What happens if I don’t declare my Airbnb income?
</h4>
<p>
We will ask the right questions to determine what you are legally obligated to do.  Not declaring income to the IRS is a really bad idea. It’s illegal and there can be serious penalties.  The “I didn't know the law” excuse doesn't hold up in court. The good news is we make it easy for you to sleep at night.
</p>

<h4>
I don’t do my taxes until April 14th. Will I be able to use Taxly at the last minute?
</h4>
<p>
This is a good opportunity to talk about records. How well you keep your records throughout the year will determine how fast and painless the process will be. 
</p>

<h4>
I hear that there are city and state hotel laws that apply to me. Do I need to be worried about that?
</h4>

<p>
The sharing economy is awesome. Municipal laws that govern rentals of your residence are outdated and will eventually be rewritten. For now, Taxley will just be giving you a heads up on your responsibilities to the federal government.  
</p>

<h4>
I don’t live in the United States. Does this apply to me?
</h4>

<p>
Most counties require that you declare income. It’s not always as complicated as the United States makes it.  We can help.
</p>


<br/>
<br/>



