


<div class="row">
	<div class="large-6 large-centered  columns">
		<h4><%= BetaUser.count %> Persons are interested in using Taxley</h4>
	<table>
	  <thead>
	    <tr>
	      <th  width="400">Email</th>
	      <th  width="400">Country</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<% @betaUsers.each do |user| %>
	    <tr>
	      <td><%= user.email %></td>
	      <td><%= user.country %></td>
	    </tr>
	    <% end %>
	  </tbody>
	</table>
	</div>
</div>