


<div class="space"></div>

<section class="row">
	<article class="small-12 columns">
		<header class="header">

			<h1>Are you an Airbnb host? <br/> Taxley is your Airbnb tax solution.</h1>

			<br/>

			<h4>
				Fast and Simple <br/>
				Our software will help you fill out the appropriate I.R.S tax forms
				and take deductions so you can legally maximize your airbnb revenue.
			</h4>

			<br/>

			<div class="getstartbutton">
			    <a href="getstarted" class="button"> Get started now >></a>
			</div>

		</header>

		<article class="faq">

			<h1>FAQ</h1>

			<%= render "home/faq" %>

		</article>


		<div class="firsttext">
			<br/>
			<p>It's easy to get overwhelmed with the rules. At Taxley we know tax law, so you don’t have to.</p>
		</div>

	</article>
</section>




