<div class="navbarWrapper">
  <div class="contain-to-grid fixedd">

    <nav class="top-bar navbar">
      <section class="top-bar-section">

        <!-- Left Nav Section -->
        <ul class="left">

          <li class="divider"></li>

          <li><a href="/" class="login">Logo</a></li>

          <li class="divider"></li>

        </ul>

        <!-- Right Nav Section -->
        <ul class="right">

          

          <!--<li><a href="getstarted" class="login">Get Started</a></li>-->

          <li class="divider"></li>

          <!--<li><a href="/admins/sign_in" class="getstarted">Login</a></li>-->

          <% if admin_signed_in? %>
      
            <li><%= link_to "Sign out", destroy_admin_session_path, :method => :delete, :class => "login" %></li>
            <!--<li><%#= link_to 'Edit account', edit_admin_registration_path, :class => "login" %></li>-->

          <% else %>
            <%#= link_to "Sign up", new_user_registration_path %>
            <li><%= link_to "Sign in", new_admin_session_path, :class => "login" %></li>

          <% end %>

          <li class="divider"></li>

        </ul>

      </section>
    </nav>

  </div>

</div>